<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>OLX Data Download</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/css/normalize.min.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
<link rel="stylesheet" href="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/css/main.css">
</head>
<body>

<div class="wrapper" style="margin-top:30px;">
<h1 style="margin-bottom:20px;">OLX Download</h1>
  <label> Select City</label>
  <input id="city" type="text" />
  <br>
  <br>
  <label> Select Suburb</label>
  <input id="suburb" type="text" />
  <br>
  <br>
  <label> Select Category</label>
  <input id="category" type="text" />
  <br>
  <br>
  <label> Select Sub Category</label>
  <input id="sucategory" type="text" />
  <br>
  <br>

  <label>Limit</label>
  <input id="limit" type="text" value="10000" />
  <br>
  <br>
  <label>Offset</label>
  <input id="offset" type="text" value="0" />
  <br>
  <br>
  <label> Select Fields</label>
  <input id="field" type="text" />

  <br>
  <br>
  <button id="download">Download CSV</button>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
 <script src="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/jquery.autocomplete.multiselect.js"></script>

 <script type="text/javascript">

  var selected_city = null;
  var selected_suburb = null;
  var selected_categ = null;
  var selected_subcateg = null;
  var selected_fields = [];

  var field_list = [
    "id",
    "title",
    "ads",
    "name",
    "surname",
    "timestamp",
    "status",
    "comment",
    "phone",
    "phone_number",
    "price",
    "description",
    "sub_category",
    "novo_usado",
    "city",
    "suburb",
    "zipcode",
    "adcode",
    "image_urls",
    "main_image_urls",
    "day",
    "month",
    "time",
    "main_category"
  ]

 $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/city_list/", function( data ) {
      data = JSON.parse(data)
      $('#city').autocomplete({
        minLength: 0,
        source: data,
        // multiselect: true
      }).on('autocompleteselect', function(ev, ui) {
        lastText = ui.item.label;
        // selected_city.push(lastText);
        selected_city = lastText
        getSuburb(selected_city)
    })
      .focus(function(){
          $(this).autocomplete("search", $(this).val());
      })
});

function getSuburb(selected_city){
  $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/suburb_list/", {query: selected_city}, function(suburb){
    suburb = JSON.parse(suburb)
    console.log("suburb", suburb)
    $('#suburb').autocomplete({
        minLength: 0,
        source: suburb,
        // multiselect: true
      }).focus(function(){
          $(this).autocomplete("search", $(this).val());
      })
    .on('autocompleteselect', function(ev, ui) {
        lastText = ui.item.label;
        selected_suburb = lastText;
        // selected_suburb.push(lastText)
        console.log(lastText);
    })
  });
}

$.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/categ_list/", function( data ) {
      data = JSON.parse(data)
      $('#category').autocomplete({
        minLength: 0,
        source: data,
        // multiselect: true
      }).focus(function(){
          $(this).autocomplete("search", $(this).val());
      })
    .on('autocompleteselect', function(ev, ui) {
        lastText = ui.item.label;
        selected_categ.push(lastText)
        selected_categ = lastText;
        console.log(lastText);
        getSubCategory(selected_categ)
    })
  });

  function getSubCategory(selected){
    $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/subcateg_list/", {query: JSON.stringify(selected)}, function(subcat){
      subcat = JSON.parse(subcat)
      $('#sucategory').autocomplete({
        minLength: 0,
        source: subcat,
        // multiselect: true
      }).focus(function(){
          $(this).autocomplete("search", $(this).val());
      })
    .on('autocompleteselect', function(ev, ui) {
        lastText = ui.item.label;
        selected_subcateg.push(lastText)
        selected_subcateg = lastText
        console.log(lastText);
    })

    });
  }

  $('#field').autocomplete({
        minLength: 0,
        source: field_list,
        multiselect: true
      }).focus(function(){
          $(this).autocomplete("search", $(this).val());
      })
    .on('autocompleteselect', function(ev, ui) {
        lastText = ui.item.label;
        selected_fields.push(lastText)
        console.log(lastText);
    })

   $("#download").on('click', function(){
        var limit = $('#limit').val();
        var offset = $('#offset').val();

        var url = "http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/download/?categ=" + selected_categ + "&subcateg=" + selected_subcateg + "&suburb="+ selected_suburb + "&city=" + selected_city + "&fields=" + JSON.stringify(selected_fields) + "&limit=" + limit + "&offset=" + offset
        
          window.open(url, '_blank');

      })

 </script>

</body>
</html>
