<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>OLX Data Download</title>

<meta name="description" content="">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/css/normalize.min.css">
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
<link rel="stylesheet" href="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/css/main.css">
</head>
<body>

<div class="wrapper" style="margin-top:30px;">
<h1 style="margin-bottom:20px;">OLX Download</h1>
  <label> Select City</label>
  <input id="city" type="text" />
  <br>
  <br>
  <label> Select Suburb</label>
  <input id="suburb" type="text" />
  <br>
  <br>
  <label> Select Category</label>
  <input id="category" type="text" />
  <br>
  <br>
  <label> Select Sub Category</label>
  <input id="sucategory" type="text" />

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> 
 <script src="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/jquery.autocomplete.multiselect.js"></script>

 <script type="text/javascript">

  var selected_city = [];
  var selected_suburb = [];
  var selected_categ = [];
  var selected_subcateg = [];
  var selected_fields = [];

  var field_list = [
    "id",
    "title",
    "ads",
    "name",
    "surname",
    "timestamp",
    "status",
    "comment",
    "phone",
    "phone_number",
    "price",
    "description",
    "sub_category",
    "novo_usado",
    "city",
    "suburb",
    "zipcode",
    "adcode",
    "image_urls",
    "main_image_urls",
    "day",
    "month",
    "time",
    "main_category"
  ]

 $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/city_list/", function( data ) {
      data = JSON.parse(data)
      $('#city').autocomplete({
        source: data,
        multiselect: true,
        select: function( event , ui ) {
        //   $("#city").each(function(index, selected) {
        //     var curr = $(this).autocomplete("instance").selectedItem;
        //     selected_city.append(curr.label);
        //   });
          console.log($("#city").autocomplete().data())
        }
      });   
  });

 $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/categ_list/", function( data ) {
      data = JSON.parse(data)

      $('#category').autocomplete({
      source: data,
        multiselect: true
      }); 
  });

 </script>

</body>
</html>
