<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OLX Data Download</title>
    <style>
      body {
        padding-top: 54px;
      }
      @media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }
    </style>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
      	     <select name="groupid" id="city" multiple="multiple">
      				<option value="0" selected>Please select City</option>
      			</select>
        </div>
        <div class="col-md-6 text-center">
             <select name="groupid" id="suburb" multiple="multiple">
              <option value="0">Please select Suburb</option>
            </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 text-center">
             <select name="groupid" id="category" multiple="multiple">
              <option value="0">Please select Category</option>
            </select>
        </div>
        <div class="col-md-6 text-center">
             <select name="groupid" id="sucategory" multiple="multiple">
              <option value="0">Please select Sub Category</option>
            </select>
        </div>
      </div>
    </div>

    <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/static/jquery.autocomplete.multiselect.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>


    <script type="text/javascript">
      var selected_city = [];
      var selected_suburb = [];
      var selected_categ = [];
      var selected_subcateg = [];

	    $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/city_list/", function( data ) {
				  data = JSON.parse(data)
				  for (var i=0; i<data.length; i++){
				  	$('<option>').val(data[i]).text(data[i]).appendTo('#city');
				  }

          $('#city').multiselect({
            onChange: function(element, checked) {
                var brands = $('#city option:selected');
                $(brands).each(function(index, brand){
                    selected_city.push($(this).val());
                });
                getSuburb(selected_city)
            }
          });
		  });

      function getSuburb(selected){
        $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/suburb_list/", {query: JSON.stringify(selected)}, function(suburb){
          suburb = JSON.parse(suburb)

          for (var j=0; j<suburb.length; j++){
            $('<option>').val(suburb[j]).text(suburb[j]).appendTo('#suburb');
          }

          $('#suburb').multiselect({
            onChange: function(element, checked) {
                var brands = $('#city option:selected');
                $(brands).each(function(index, brand){
                    selected_suburb.push($(this).val());
                });
            }
          });

        });
      }


      $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/categ_list/", function( data ) {
            data = JSON.parse(data)
            for (var i=0; i<data.length; i++){
              $('<option>').val(data[i]).text(data[i]).appendTo('#category');
            }

            $('#category').multiselect({
              onChange: function(element, checked) {
                  var brands = $('#category option:selected');
                  $(brands).each(function(index, brand){
                      selected_categ.push($(this).val());
                  });
                  getSubCategory(selected_categ)
              }
            });
      });


      function getSubCategory(selected){
        $.get("http://ec2-13-58-190-193.us-east-2.compute.amazonaws.com:8000/subcateg_list/", {query: JSON.stringify(selected)}, function(suburb){
          suburb = JSON.parse(suburb)

          for (var k=0; k<suburb.length; k++){
            $('<option>').val(suburb[k]).text(suburb[k]).appendTo('#sucategory');
          }

          $('#sucategory').multiselect({
            onChange: function(element, checked) {
                var brands = $('#sucategory option:selected');
                $(brands).each(function(index, brand){
                    selected_subcateg.push($(this).val());
                });
            }
          });

        });
      }

    </script>


  </body>

</html>